---
import ProjectCard from "./ProjectCard.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
  projects: CollectionEntry<"projects">[];
}

const { projects } = Astro.props;
---

<div class="grid gap-6 md:grid-cols-2 xl:grid-cols-3">
  {projects.map((project) => <ProjectCard project={project} />)}
</div>
